.footer {
    background-color: #477A7C;
}

.footer-large-text {
    color: white;
    font-weight: bold;
    margin: 0vw;
    padding: 0;
    font-size: 4vh;
}

.footer-large-text > p {
  margin: 0vw;
  padding: 0vw;
}

.footer-flex-row {
  display: flex;
  flex-rwap: wrap;
}

.footer-flex-col {
  disiplay: flex;
  flex-direction: column;
}

.footer-normal-text {
  color: white;
}

.footer-vertical-list {
    list-style-type: none;
    padding: 0 0 2vh 0;
    /* our font-size will be 3% of the height of the viewport */
    font-size: 2vh;
    color: white;
}

.footer-social-media-list {
    margin: 0;
    padding: 0 1vw 2vh 0;
    font-size: 5vh
    /* our font-size will be 3% of the height of the viewport */
}

.footer-left-align {
  /*float: left;*/
}

.footer-right-align { 
 /* float: right;*/
}

.footer-newsletter-block {
  background-color: gray;
}

