header{ 
    overflow: hidden;
    float: left;
    min-height: 100%;
    color: #477a7c;
}

.header-btn {
    float:right; 
    background-color: #477A7C; 
    color: #FFF; 
    margin: 0px 5px; 
    padding: 10px; 
    width: 45%;
}

/* header ul{
    margin: 0;
    padding: 2vw;

    /*this option by default dispose the elements in a row (flex-direction: row)*/
    /* display: flex;
    float: middle; 
} */

/* header li{
    list-style-type: none;
    margin: 0 2vw;
    /* our font-size will be 3% of the height of the viewport */
    /* font-size: 3vh;
    font-weight: bold; /
} */

.search-box {
    background: none;
    height:40px;
    border-radius:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top:2rem;
    margin: 0;
}

.search-box:hover > .txt {
    width:200px;
    padding:0 6px;
    transition: all 1s;
}

.search-box:hover > .btn {
    /*background: #07051a*/
}

.btn {
    float:right;
    width:40px;
    height:40px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s;
    cursor:pointer;
}

.btn > i{
    font-size:30px;
    color:#477A7C;
}

.txt{
    border:none;
    border-radius: 15px;
    background:#FFF;
    outline:none;
    float:left;
    padding:0;
    color:#333;
    font-size:16px;
    transition:0.4s;
    line-height:40px;
    width:0px;
    font-weight:bold;
}

