body {
    bagkground-color: white;
    font-family: lato !important;
    font-weight: regular;
    font-size: 17px;

    text-align: center;
}
main {
    font-family: lato;
    margin: 20px;
    padding: 20px;

}

header {
    background-color: #e5e5e5;
    width: 100%;
    color: #477a7c;
    align-self: flex-end;
}
header li {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
}

.col {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #477a7c;
    width: 250px;
    height: 300px;
    color: #ffffff;
    margin: 4%;
    padding-left: 2%;
    padding-right: 2%;

}
.container {
    display: inline-flex;
    width: 100%;
}
.row {
    display: flex;
}

/* .flex-container {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
  }
  
.flex-container > .flex-column {
    flex: 1;
    padding: 0 30px;
} */
