---
layout: layouts/base.njk
---
{%- from "components/component.njk" import component -%}

<div class="flex flex-col items-center">
    <div class="flex mt-8 md:mt-14 text-center justify-center">
        <p class="text-3xl md:text-4xl lg:text-5xl text-pud_green font-bold">{{title}}</p>
    </div>
</div>

<div class="flex flex-col-reverse md:flex-row bg-red-200 bg-opacity-80 my-10 rounded-md mx-4 md:mx-8 lg:mx-16">
    <div class="flex flex-col md:items-end md:w-1/2 px-8">
        <div class="text-pud_green font-bold text-2xl md:text-right md:text-3xl pt-4 pb-2">
            {% set leftContentPath = 'src/' + pageMarkdownPath + 'leftContent.md' %}
            {% set left = {'data': (leftContentPath | getVarsFromMd), 'content': (leftContentPath | getRenderedContentFromMd)} %}
            {{ left.data.heading }}
        </div>
        <div class="text-pud_green text-sm md:text-right md:text-lg lg:text-xl pt-2">
            {{ left.content | safe }}
        </div>
        <div class="mt-7 mb-5">
            {% set args = {'data': {'buttonText': left.data.buttonText, 'buttonLink': left.data.programInfoLink} } %}
            {{ component('partials/button.njk', args) }}
        </div>
    </div>
    <div class="hidden md:flex md:my-5 items-center justify-center">
        <div class="w-2 h-full bg-white rounded"></div>
    </div>
    <div class="flex md:hidden items-center justify-center pt-6">
        <div class="h-8 w-full bg-white "></div>
    </div>
    <div class="flex flex-col w-full items-start px-8 md:w-1/2">
        <div class="text-pud_green font-bold text-2xl md:text-left md:text-3xl pt-4 pb-2">
            {% set rightContentPath = 'src/' + pageMarkdownPath + 'rightContent.md' %}
            {% set right = {'data': (rightContentPath | getVarsFromMd), 'content': (rightContentPath | getRenderedContentFromMd)} %}
            {{ right.data.heading }}
        </div>
        <div class="text-pud_green text-sm md:text-xl pt-2 text-left">
            {{ right.content | safe }}
        </div>
    </div>
</div>

{% set args = {'data': {'link': formAssemblyLink } } %}
<div class="flex overflow-visible">
    {{ component('partials/applicationForm.njk', args) }}
</div>

