---
layout: layouts/base.njk
---
{%- from "components/component.njk" import component -%}

<div class="flex flex-col items-center">
    <div class="flex mt-8 justify-center">
        <p class="text-3xl text-pud_green">{{title}}</p>
    </div>
    <div class="flex mt-4 text-center justify-center text-sm text-black">
        {{content | safe}}
    </div>
    <div class="flex w-1/2 justify-center rounded-full border-2 mt-8 bg-pud_green">
        <a class="py-2 px-2 text-white" href="apply/index.html">APPLY</a>
    </div> 
</div>


{% set testimonialPath = 'src/programs/entrepreneurTraining/testimonial.md' %}
{% set args = {'data': (testimonialPath | getVarsFromMd), 'content': (testimonialPath | getRenderedContentFromMd)} %}
{{ component('partials/testimonial.njk', args) }}

{% set applyCardPath = 'src/programs/entrepreneurTraining/howToApply.md' %}
{% set args = {'data': (applyCardPath | getVarsFromMd), 'content': (applyCardPath | getRenderedContentFromMd)} %}
{{ args['data'] | push('buttonLink', 'apply/index.html') }}
{{ component('partials/pictureAboveCard.njk', args) }}

{% set accordionPath = 'src/programs/entrepreneurTraining/accordion.md' %}
{% set accordionCollection = collections.entrepreneurTrainingAccordion %}
{% set args = {'data': (accordionPath | getVarsFromMd), 'content': (accordionPath | getRenderedContentFromMd), 'items': accordionCollection} %}
{{ component('partials/accordion.njk', args) }}

{% include "partials/businessDirectory.njk" %}
