---
layout: layouts/base.njk
---

<div class="flex flex-col">
    <div class="flex mt-8 justify-center">
        <p class="text-3xl text-pud_green">{{title}}</p>
    </div>
    <div class="flex mt-4 content-center justify-center">
        <p class="text-xs text-black"></p>
    </div>
    <div class="flex flex-row justify-center rounded-full border-2 mt-4 bg-pud_green">
        <a class="py-2 px-2 text-white" href="apply/index.html">APPLY</a>
    </div>       
</div>
