---
title: Home
layout: layouts/base.njk
---
{%- from "components/component.njk" import component -%}

<div class="h-full bg-white flex flex-col pt-10">
    {% set args = {'data': {'headerText': 'Our Mission'} } %}
    {{ component('partials/sectionHeader.njk', args) }}

    {% set quotePath = 'src/popoutQuote.md' %}
    {% set args = {'data': (quotePath | getVarsFromMd), 'content': (quotePath | getRenderedContentFromMd)} %}
    {{ component('partials/popoutQuoteWithPicture.njk', args) }}    
    
    <div class="gcse-search"></div>
    {% include "partials/infoCardsHome3.njk" %}
    {% include "partials/stats1.njk" %}
    {% include "partials/businessDirectory.njk" %}
</div>
