---
title: Home
layout: layouts/base.njk
---
<div class="h-full bg-white flex flex-col">
    <section class="font-bold mb-20 px-12">
        <h1 class="text-5xl text-red-600"> ProsperUS Detroit</h1>
        <h1 class="text-4xl self-center"> is a place-based economic development initiative that builds and sustains neighborhood entrepreneurs and small businesses.</h1>
    </section>
    <div class="flex h-16 w-full bg-pud_green"></div>
    {% include "partials/infoCards.njk" %}
    <div class="w-full flex justify-center">
        {% include "partials/businessDirectory.njk" %} 
    </div>
</div>


