<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Lato&display=swap' %}
</head>
<link rel="stylesheet" href="/css/styling.css">
<body>
{% if (title == "Home") %}
  {% include "partials/herohead.njk" %}
{% else %}
  {% include "partials/htmlhead.njk" %}
{% endif %}

<main>
{% block content %} 
  {{ content | safe }}
  {% if (title == "Home") %}
    <iframe src="https://www.google.com/maps/d/embed?mid=1PMYssio8sPeSjTEMVtRaP-Ij_x8" width="800" height="600"></iframe>
  {%endif%}
{% endblock %}
</main>
</body>
{% include "partials/htmlfoot.njk" %}
</html>

