<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Lato&display=swap' %}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<link rel="stylesheet" href="/css/styling.css">
<link rel="stylesheet" href="/css/header-styling.css">
<link rel="stylesheet" href="/css/footer-styling.css">
<body>
{% if (title == "Home") %}
  {% include "partials/herohead.njk" %}
{% else %}
  {% include "partials/headertemp.njk" %}
{% endif %}

<main style="margin: 0px">
{% block content %}

  <h1>{{ title }}</h1>

  {{ content | safe }}
  {% if (title == "Home") %}
    <iframe src="https://www.google.com/maps/d/embed?mid=1PMYssio8sPeSjTEMVtRaP-Ij_x8" width="800" height="600"></iframe>
  {% elif (title == "Apply") %}
    <iframe src="https://tfaforms.com/4883320" height="800" width="800"
    frameborder="0" style="border: none;">
      <p>Your browser does not support iframes.</p>
    </iframe>
    <script src="//tfaforms.com/js/iframe_resize_helper.js"></script>
  {%endif%}
{% endblock %}
</main>
</body>
{% include "partials/htmlfoot.njk" %}
</html>
