<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Lato&display=swap' %}
</head>
<link rel="stylesheet" href="/css/styling.css">
<link rel="stylesheet" href="/css/header-styling.css">
<body>
{% if (title == "Home") %}
  {% include "partials/headertemp.njk" %}
{% else %}
  {% include "partials/htmlhead.njk" %}
{% endif %}

<main style="margin: 0px">
{% block content %}

  <h1>{{ title }}</h1>

  {{ content | safe }}
  {% if (title == "Home") %}
    <iframe src="https://www.google.com/maps/d/embed?mid=1PMYssio8sPeSjTEMVtRaP-Ij_x8" width="800" height="600"></iframe>
  {% elif (title == "Apply") %}
    <iframe src="https://tfaforms.com/4883320" height="1000" width="1000"
    frameborder="0" >
      <p>Your browser does not support iframes.</p>
    </iframe>
    <script src="//tfaforms.com/js/iframe_resize_helper.js"></script>
  {%endif%}
{% endblock %}
</main>
</body>
{% include "partials/htmlfoot.njk" %}
</html>
