 <section class="flex flex-col" >
    {% include "components/standardHeader.njk" %}
    <div style="background-image:url(images/hero.png);" class="flex flex-col justify-center bg-no-repeat bg-cover h-screen-4/5">
        <span class="self-center ml-auto w-1/2 justify-end">
          <p class="text-6xl ml-auto text-white">{{heroTextTitle}}</p>
          <br>
          <p class="text-xl text-white">{{heroTextReg}}</p>
        <span>
        <footer class="flex flex-row pt-3 justify-center">
          <a class="rounded-md bg-red-700 py-3 px-6 mx-1 text-white" href="apply/index.html">LEARN MORE</a>
        </footer>
    </div>
</section>
