 <section class="flex flex-col h-screen" >
    {% include "components/standardHeader.njk" %}
    <div class="flex flex-col bg-cover bg-fixed h-5/6 justify-center" style="background-image:url(images/hero.jpg)">
        <h1>Proper US Detroit</h1>
        <p>{{heroText}}</p>
      
        <footer class="flex flex-row justify-center mt-auto mb-6">
          <a class="rounded-full bg-pud_green py-3 px-6 mx-1 text-white" href="apply/index.html">Apply</a>
          <a class="rounded-full bg-pud_green py-3 px-6 mx-1 text-white" href="#">Donate</a>
        </footer>
    </div>
</section>
