<header class="bg-white md:flex md:justify-between">
  <div class="flex items-center justify-between px-4 py-2">
    <div>
      <a href="/">
        <img class="h-24" src="../images/logo.png" />
      </a>
    </div>
    <div class="md:hidden">
      <button class="px-3 py-2 border rounded text-gray-500 border-gray-600" onclick="onNavClick()">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>
  </div>
  <div id="nav-content" class="hidden md:flex md:justify-between">
    <div class="px-4 pb-3 w-64 md:order-last">
      <div class="relative flex items-center space-between flex-row text-gray-600 border-2 border-pud_green rounded-full focus-within:text-gray-400 w-11 h-11 focus-within:w-full focus-within:h-18 transition-width transition duration-900 search-in-out overflow-hidden search-bar">
        <input type="text" class="absolute top-0 bottom-0 left-0 flex-grow-1 2xl w-4/5 search-bar__input cursor-pointer focus:outline-none focus:cursor-text bg-opacity-25 h-auto opacity-0 focus:opacity-100 focus:pl-4" placeholder="Search..." area-label="">
        <button class="search-bar__submit align-middle rounded-full h-9 w-9 p-1  cursor-pointer ml-auto transition-colors duration-150ms ease-in-out focus:outline-none hover:shadow-xl" aria-label="submit search">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6">
            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="px-2 pb-4 md:flex">
      {% set navPages = collections.all | eleventyNavigation %}
      {% for entry in navPages %}
        <a class="px-2 block py-1 hover:bg-gray-400 rounded" href="{{ entry.url }}">
          {{ entry.title }}
        </a>
      {% endfor %}
    </div>
  </div>

  <script>
    function onNavClick() {
      document.getElementById('nav-content').classList.toggle("hidden");
    }
  </script>
</header>
