/* NavBar Styles */
 .navbar {
    display: flex;
    position: fixed;
    width: 100%;
    
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff; 
}

.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
}

.navbar__list-item{
    display: inline-block;
    padding: 0 20px 0 20px;
}

.navbar__list-link {
    display: inline-block;
    text-transform: uppercase;
    color: gray;
    text-decoration: none;

}
:hover.navbar__list-link {
    font-weight: 900;

}
.navbar__list-link--active {
    border-bottom: 2px solid #477A7C;
    font-weight: 900;
    
}
.grid--search-bar {
    display: flex;
    margin-left: auto;
    padding-right: 15px;
}