<!doctype html>
<html lang="en" class="w-full">
</script>
  <head>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N6VVH5H');</script>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
     {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Lato&display=swap' %}
     <title>{{title}}</title>
  </head>
  <body class="w-full text-base">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6VVH5H"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <article>
      {% if (title == "Home") %}
        {% include "components/heroHead.njk" %}
      {% else %}
        {% include "components/standardHeader.njk" %}
      {% endif %}
      <main class="min-h-screen pt-20">
        {{ content | safe }}
      </main>
      <script src="/assets/main.js"></script>
      {%include "components/standardFooter.njk"%}
    </article>
  </body>
  
</html>
