<div class="flex flex-col items-left mt-10 bg-gray-300 rounded-md mx-4">
    <p class="text-pud_green text-2xl px-8 pt-8 pb-4">{{params.data.title}}</p>
    <ul class="shadow-box pb-6">
        {% for accordionItem in params.items %}
            <li x-data="{selected:null}">
                <button type="button" class="pt-6 px-8 text-left w-full" @click="selected !== 1 ? selected = 1 : selected = null">
                    <p class="text-lg">{{accordionItem.data.title}}</p>
                </button>

                <div class="bg-gray-200 w-full mx-0 px-8 relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
                    <div class="py-4">{{accordionItem.templateContent | safe}}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
