<div id="map" style="height: 1000px; width: 100%;">
</div>
{{ collections.maps | createMapsJson }}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
function loadDoc() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
       if (this.readyState == 4 && this.status == 200) {
           initializeMap(JSON.parse(this.responseText));
       }
    };
    xhttp.open("GET", "businessInfo.json", true);
    xhttp.send();
}

var map;

function initializeMap(directoryCollection) {
    locations = []

    directoryCollection.forEach(location => {
      var businessLocation = {};
      businessLocation.title = location.name;
      businessLocation.latitude = location.latitude;
      businessLocation.longitude = location.longitude;
      businessLocation.email = location.businessEmail;
      businessLocation.mobile = location.businessMobile;
      businessLocation.address = location.businessAddress;
      locations.push(businessLocation);
    })
    var mapOptions = {
      zoom: 10,
      center: new google.maps.LatLng(0, 0)
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var bounds = new google.maps.LatLngBounds();
    // Create nice, customised pop-up boxes, to appear when the marker is clicked on
    var infowindow = new google.maps.InfoWindow({
      content: "Content String"
    });
    for (var i = 0; i < locations.length; i++) {
      var new_marker = createMarker(map, locations[i], infowindow);
      bounds.extend(new_marker.position);
    }
    map.setOptions({ styles: [ { featureType: "poi", stylers: [{visibility: "off"}] } ] })
    map.fitBounds(bounds);

}

function createMarker(map, businessLocation, infowindow) {

  var position = {
    lat: parseFloat(businessLocation.latitude),
    lng: parseFloat(businessLocation.longitude)
  };
  var marker = new google.maps.Marker({
    position: position,
    map: map,
    title: businessLocation.name,
  });
   google.maps.event.addListener(marker, 'click', function() {
     infowindow.setContent('<div>'+
     '<p><strong>' + ((businessLocation.url === undefined) ? businessLocation.title : ('<a href="' + businessLocation.url +'">' + businessLocation.title + '</a>')) + '</strong></p>' +
     ((businessLocation.mobile === undefined) ? "" : ('<p><strong>Phone: </strong>' + businessLocation.mobile + '</p>')) +
     ((businessLocation.email === undefined) ? "" : ('<p><strong>Email: </strong>' + businessLocation.email + '</p>')) +
     ((businessLocation.address === undefined) ? "" : ('<p><strong>Address: </strong>' + businessLocation.address + '</p>')) +
     '</div>');
     infowindow.open(map, marker);
  })
  return marker
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfpU4ZBRpxXM65E3TDMo2uGPz_yMfpCew&callback=loadDoc" async defer/>
