<iframe src="https://www.google.com/maps/d/embed?mid=1PMYssio8sPeSjTEMVtRaP-Ij_x8" width="800" height="600"></iframe>

<div class="flex flex-col items-center justify-between mb-2">
  <h1 class="text-3xl">Explore Our Network</h1>
  <div class="flex mb-5">
      <div class="w-8 h-0.5 bg-red-600 mt-2"></div> 
          <p class="mx-2">Our Constituents</p>
      <div class="w-8 h-0.5 bg-red-600 mt-3"></div>
    </div>
  <div class="flex">
      <div class="w-2/5 flex flex-col align-center bg-gray-200">
        <div class="pt-2 mx-auto text-gray-600">
            <input id="map-search-bar" class="border-2 border-gray-300 bg-white h-10 px-5 rounded-lg text-sm focus:outline-none" type="search" name="search" placeholder="Search">
        </div>
        <div id="search-pane" class="overflow-y-scroll">
        </div>
      </div>
      <div id="map" class="self-center" style="height: 600px; width: 800px;">    
      </div>
  </div>
</div>

{{ collections.maps | createMapsJson }}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
function loadDoc() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
       if (this.readyState == 4 && this.status == 200) {
           initializeMap(JSON.parse(this.responseText));
       }
    };
    xhttp.open("GET", "businessInfo.json", true);
    xhttp.send();
}

var map;

function initializeMap(directoryCollection) {
    locations = []

    directoryCollection.forEach(location => { locations.push(location); })
    var mapOptions = {
      zoom: 10,
      center: new google.maps.LatLng(0, 0)
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var bounds = new google.maps.LatLngBounds();
    // Create nice, customised pop-up boxes, to appear when the marker is clicked on
    var infowindow = new google.maps.InfoWindow({
      content: "Content String"
    });
    for (var i = 0; i < locations.length; i++) {
      var new_marker = createMarker(map, locations[i], infowindow);
      bounds.extend(new_marker.position);
    }
    map.setOptions({ styles: [ { featureType: "poi", stylers: [{visibility: "off"}] } ] })
    map.fitBounds(bounds);

}

function createMarker(map, businessLocation, infowindow) {

  var position = {
    lat: parseFloat(businessLocation.latitude),
    lng: parseFloat(businessLocation.longitude)
  };
  var marker = new google.maps.Marker({
    position: position,
    map: map,
    title: businessLocation.name,
  });
   google.maps.event.addListener(marker, 'click', function() {
     var markerDiv = '<div class="flex flex-col">' + '<div class="flex justify-center"><p><strong>' + businessLocation.title + '</strong></p></div>';
     markerDiv += '<p><strong>Phone: </strong>' + businessLocation.mobile + '</p>'
     markerDiv += '<p><strong>Email: </strong>' + businessLocation.email + '</p>'
     markerDiv += '<p><strong>Address: </strong>' + businessLocation.address + '</p>'
     markerDiv += '<p><strong>Industry: </strong>' + businessLocation.industry+ '</p>'
     markerDiv += '<p><strong>Type: </strong>' + businessLocation.type+ '</p>'
     markerDiv += '<p><strong>Training Location: </strong>' + businessLocation.trainingLocation+ '</p>'
     markerDiv += '<p><strong>TA Provider: </strong>' + businessLocation.taProvider + '</p>'
     markerDiv += '<p><strong>Program User: </strong>' + businessLocation.programUser + '</p>'
     markerDiv += '</div>'
     infowindow.setContent(markerDiv);
     infowindow.open(map, marker);
  })
  return marker
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfpU4ZBRpxXM65E3TDMo2uGPz_yMfpCew&callback=loadDoc" async defer/>
