{%- from "components/component.njk" import component -%}

<section class="p-0 mx-auto flex flex-col bg-white items-center">
    <div class="flex justify-center">
        <div class="w-8 h-0.5 bg-red-600 mt-4"></div>
        <h1 class="mx-2 text-2xl">Contact Us</h1>
        <div class="w-8 h-0.5 bg-red-600 mt-4"></div>
    </div>
  <h1 class="self-center text-3xl font-medium lg:px-28 py-9 text-center">Thank you for contacting ProsperUS Detroit, please select the aspect of the program that you would like to contact from the drop-down list below.</h1>

  <div class="flex flex-col items-center mb-16 lg:items-start text-gray-500 text-md w-full" style="width: 50%">
    <form class="w-full" action="" style="text-align:left">
      <div>
        <label for="" class="text-md">Program</label>
        <select type="text"
        placeholder="---"
        class="ring-1 ring-gray-300 w-full rounded-md px-16 py-2 mt-2 mb-2 outline-none focus:ring-2">
          <option value="---">---</option>
          <option value="Entrepreneur Training">Entrepreneur Training</option>
          <option value="Business Services">Business Services</option>
          <option value="Micro-Lending">Micro-Lending</option>
        </select>
      </div>
      <div>
        <label for="" class="text-md">Your Name</label>
        <input type="text"
        placeholder="Your Name"
        class="ring-1 ring-gray-300 w-full rounded-md px-8 py-2 mt-2 mb-2 outline-none focus:ring-2"
        style="text-align:left;"/>
      </div>
      <div>
        <label for="" class="text-md">Email Address</label>
        <input type="email"
        placeholder="Email Address"
        class="ring-1 ring-gray-300 w-full rounded-md px-8 py-2 mt-2 mb-2 outline-none focus:ring-2"/>
      </div>
      <div>
        <label for="" class="text-md">Subject</label>
        <input type="subject"
        placeholder="Subject"
        class="ring-1 ring-gray-300 w-full rounded-md px-8 py-2 mt-2 mb-2 outline-none focus:ring-2"/>
      </div>
      <div>
        <label for="" class="text-md">Message</label>
        <textarea type="message"
        placeholder="Message"
        rows=4
        class="ring-1 ring-gray-300 w-full rounded-md px-16 py-2 mt-2 mb-2 outline-none focus:ring-2"></textarea>
      </div>
        <div class="m-4">
            {% set args = {'data': {'buttonText': 'Send Message', 'buttonLink': ''} } %}
            {{ component('partials/button.njk', args) }}
        </div>
    </form>
  </div>


</section>
