
    <div>
        <header class="d-flex flex-row">
            <div class="col-sm-2 h-100 logo">
                <a href="/">
                    <img class="logo" src="../images/logo.png" />
                </a>
            </div>
            <div class="col-sm-6 float-left>
                <nav class="nav-container">
                    {% navlist collections.all | eleventyNavigation, page,'nav-item', 2 %}
                </nav>
            </div>
            <div class="col-sm-4 float-right">
                <div class="search-box float-right">
                    <input type ="text" class ="txt" placeholder ="Search Here...">
                    <a class ="btn"><i class ="fa fa-search"></i></a>
                </div>
            </div>
        </header>

    </div>
