<section class="hero">
    {% include "partials/standardHeader.njk" %}
    <div class='hero-text'>
        <h1>Proper US Detroit</h1>
        <p>{{heroText}}</p>
    </div>
  <footer class="hero-footer">

    <a class="button button-primary" href="apply/index.html">Apply</a>
    <a class="button" href="#">Donate</a>
  </footer>
</section>
