<section class="hero">
    {% include "partials/exheader.njk" %}
    <div class='hero-text'>
        <h1>Proper US Detroit</h1>
        <p>{{heroText}}</p>
    </div>
    <footer class="hero-footer">
        <a class="button button-primary" href="#">Apply</a>
        <a class="button" href="#">Donate</a>
    </footer>
</section>