{% include "partials/exheader.njk" %}

<div class="col-sm-4 float-right">
    <div class="search-box float-right">
        <input type ="text" class ="txt" placeholder ="Search Here...">
        <a class ="btn"><i class ="fa fa-search"></i></a>
    </div>
</div>
