<footer class="footer">
    <div class="container-fluid">
        <div class="row w-100 footer-flex-row"> 
          <div class="col-sm-4">
            <ul class="footer-vertical-list">
              <li class="footer-large-text">
                Quick Links:
              </li>
              <li>
                <a class="footer-normal-text" href="/contact">Contact Us</a>
              </li>
              <li>
                <a class="footer-normal-text" href="/resources">Resources</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 footer-newsletter-block footer-flex-col">
            <p class="footer-large-text">Sign up for our newsletter!</p>
          </div>
          <div class="col-sm-4">
            <div class="row footer-large-text">
              <p style="text-align: center; width: 100%">Connect with us!</p>
            </div>
            <div class="row">
              <div class="col-12 footer-social-media-list">
                <a href="https://www.facebook.com/ProsperusDetroit/" target="_blank">
                  <i class="fa fa-facebook-square fa-inverse"></i>
                </a>
                <a href="https://www.facebook.com/ProsperusDetroit/" target="_blank">
                  <i class="fa fa-twitter-square fa-inverse"></i>
                </a>
                <a href="https://www.facebook.com/ProsperusDetroit/" target="_blank">
                  <i class="fa fa-linkedin-square fa-inverse"></i>
                </a>
                <a href="https://www.facebook.com/ProsperusDetroit/" target="_blank">
                  <i class="fa fa-instagram fa-inverse"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
</footer>
