{%- from "components/component.njk" import component -%}

<section class="p-16 mx-auto flex flex-col bg-white ">
  {% set args = {'data': {'headerText': 'Our Programs'} } %}
  {{ component('partials/sectionHeader.njk', args) }}
  <div class="py-10 space-y-6 flex flex-col justify-items-center text-center text-black lg:flex-row lg:space-y-0 ">
    {%- for card in collections.infoCardPrograms | sortByOrder -%}
      <div class="self-center lg:self-auto transition duration-800 group mx-7 px-12 py-2 flex flex-col bg-gradient-to-b from-pud_gradient_lg1 rounded-lg to-pud_gradient_lg2 ounded shadow-md hover:shadow-lg md:w-3/5 lg:w-2/5">
         <h4 class="self-center text-2xl mb-2 py-6">{{card.data.title}}</h4>
          
        <span class="self-center mb-5 group-hover:text-pud_green"><img width=180 src={{ card.data.icon | safe }}></span>
        <p class="self-center text-base">{{card.templateContent | safe}}<p>
        <div class="transition duration-500 opacity-0 group-hover:opacity-100 mt-5">
            {% set args = {'data': {'buttonText': 'Learn More', 'buttonLink': card.data.link } } %}
            {{ component('partials/button.njk', args) }}
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>
