<section class="p-16 mx-auto flex flex-col bg-white ">
  {% set args = {'data': {'headerText': 'Our Programs'} } %}
  {{ component('partials/sectionHeader.njk', args) }}
  <div class="py-10 space-y-6 flex flex-col justify-items-center text-center text-black lg:flex-row lg:space-y-0 ">
    {%- for card in collections.infoCardPrograms | sortByOrder -%}
      <div style="box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
		0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);" class="self-center relative lg:self-auto transition duration-800 group mx-7 px-12 py-2 flex flex-col bg-gradient-to-b from-pud_gradient_lg1 to-pud_gradient_lg2 rounded hover:shadow-md md:w-3/5 lg:w-2/5">
         <h4 class="self-center text-2xl mb-2 py-6 font-medium">{{card.data.title}}</h4>
          
        <span class="self-center mb-5 group-hover:text-pud_green"><img width=180 src={{ card.data.icon | safe }}></span>
        <p class="self-center">{{card.templateContent | safe}}<p>
        <div class="z-40 py-16 px-16 top-3/4 left-1/2 absolute bg-gray-100 opacity-30 rounded-full"></div>
        <div class="transition duration-500 opacity-0 group-hover:opacity-100 mt-5">
            {% set args = {'data': {'buttonText': 'Learn More', 'buttonLink': card.data.link } } %}
            {{ component('partials/button.njk', args) }}
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>
