<div class="flex flex-col bg-gray-300 mt-10 rounded-md mx-4">
    <div class="flex flex-col items-center">
        <img class="p-4" src="{{params.data.imagePath}}" />
    </div>
    <div class="flex flex-col items-left">
        <p class="text-pud_green text-2xl px-8 pb-6">{{params.data.title}}</p>
        <div class="px-8 pb-4">
            {{params.content | safe}}
        </div>
        <div class="flex w-1/4 self-center justify-center rounded-full border-2 mt-2 mb-4 bg-pud_green">
            <a class="py-2 px-2 text-white" href="{{params.data.buttonLink}}">APPLY</a>
        </div> 
    </div>
</div>
