{%- from "components/component.njk" import component -%}

<div class="flex flex-col bg-gray-300 {{params.data.backgroundColor}} mt-10 rounded-md mx-4 md:mx-0">
    <div class="flex flex-col items-center">
        <img class="p-4" src="{{params.data.imagePath}}" />
    </div>
    <div class="flex flex-col items-left">
        <p class="text-black text-2xl px-8 pb-6">{{params.data.title}}</p>
        <div class="px-8 pb-4">
            {{params.content | safe}}
        </div>
        <div class="mt-2 mb-4 self-center">
            {% set args = {'data': {'buttonText': 'Apply', 'buttonLink': params.data.buttonLink} } %}
            {{ component('partials/button.njk', args) }}
        </div>
    </div>
</div>
