<div class="flex justify-center">
    <div class="w-8 h-0.5 bg-red-600 mt-4"></div> 
    <h1 class="mx-2 text-2xl">{{params.data.headerText}}</h1>
    <div class="w-8 h-0.5 bg-red-600 mt-4"></div>
</div>
