<!-- add this is if you're having trouble figuring out which breakpoint you're working at when fixing styling on screen sizes -->
<p class="text-pink-600 sm:text-blue-600 md:text-red-600 lg:text-green-600 xl:text-gray-600">xl-gray lg-green md-red sm-blue mobile-pink</p>
