<div class="flex flex-col md:flex-row bg-gray-300 mt-10 rounded-md mx-4 md:mx-16">
    <div class="flex flex-col items-center content-center md:w-1/2">
        <img class="p-4" src="{{params.data.imagePath}}" />
    </div>
    <div class="hidden md:flex md:my-5 items-center justify-center">
        <div class="w-2 h-full bg-white rounded"></div>
    </div>
    <div class="flex md:items-center md:w-1/2">
        <div class="text-black text-sm md:text-xl px-8 py-4">
            {{params.content | safe}}
        </div>
    </div>
</div>


